/* подключаем шрифты */

@font-face {
  font-family: "Bitter Bold";
  src: url(../fonts/Bitter/static/Bitter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Bitter Regular";
  src: url(../fonts/Bitter/static/Bitter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Bitter Light";
  src: url(../fonts/Bitter/static/Bitter-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Inter Regular";
  src: url(../fonts/Inter/static/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Playfair Display SemiBold";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Playfair Display Regular";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Playfair Display Medium";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/Roboto/Roboto-Black.ttf) format("truetype");
}
/* ВЕСЬ САЙТ */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* /////////////////// */

/* ПЕРВАЯ СЕКЦИЯ САЙТА */

.main-navigation {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.site-logo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 86px;
  margin-left: 23px;
}
.menu-links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.menu-links li {
  margin-right: 55px;
}
.menu-links li:last-child {
  margin-right: 23px;
}
.menu-link {
  color: black;
  text-decoration: none;
}
.main-section {
  height: 630px;
  position: relative;
}
.background-container {
  background-image: url(..//img/inside-weather-Uxqlfigh6oE-unsplash\ 1.jpg);
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}
.center-rectangle {
  position: absolute;
  background-color: white;
  width: 690px;
  height: 57.1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 86px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 14px;
}
.studio-tagline {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

/* //////////////////// */

/* ВТОРАЯ СЕКЦИЯ САЙТА */
.art-director-section {
  max-width: 1440px;
  height: 1141px;
  display: flex;
  padding: 151px 143px;
  margin: 0 auto;
}
#bio-heading img {
  max-width: 571px;
  height: 840px;
  width: 100%;
  object-fit: cover;
}
.wrapper-imgdir {
  margin-right: 28px;
}

.textbiography {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 77px;
}

.art-director-name {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 86px;
  margin-bottom: 36px;
}
.art-director-info {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 36px;
}
.stripe {
  display: block;
  background-color: black;
  width: 20px;
  height: 6px;
  margin-bottom: 18px;
}
.art-director-quote {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

/* //////////////////// */

/* ТРЕТЬЯ СЕКЦИЯ САЙТА */

.designers-section {
  margin: 0 auto;
  max-width: 1440px;
  /* border: 1px solid red; */
  padding: 0 20px;
}

.designer-cards {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  overflow: auto;
  align-items: end;
}
.designer-card img {
  object-fit: cover;
}

#designers-heading {
  font-family: "Roboto Bold";
  font-size: 24px;
  margin-left: 139px;
}
.designer-info {
  font-family: "Roboto Bold";
  font-size: 16px;
}
.designer-info_n1 {
  margin-left: 41%;
}
.origin-skills {
  font-family: "Roboto Regular";
}

/* //////////////////// */

/* ЧЕТВЁРТАЯ СЕКЦИЯ САЙТА */

.recommendations-links-container {
  list-style-type: none;
  font-family: "Roboto Bold";
  font-size: 16px;
}
.recommendations-links-container a {
  color: black !important; /* применил на всякий случай */
  font-family: "Roboto Regular";
  text-decoration: none;
}
#testimonials-heading {
  font-family: "Roboto Bold";
  font-size: 24px !important;
}
.blockquote-2 {
  font-family: "Bitter Regular";
  font-size: 32px;
}

/* ///////////////////// */

/* ПЯТАЯ СЕКЦИЯ САЙТА */

#section-strong-points {
  font-family: "Roboto Bold";
  font-size: 24px;
}
.bold-text {
  font-family: "Playfair Display Medium";
  font-size: 86px;
  line-height: 86px;
}
.strong-points-list {
  font-family: "Bitter Regular";
  font-size: 34px;
  list-style-type: none;
}

/* ////////////////// */

/* ПОДВАЛ */

.site-footer {
  background-color: black;
}

.contact-info-block a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  line-height: 26px;
}
.product-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
}
.HeadingMOD {
  font-family: "Roboto Black";
  font-size: 24px;
}
.copyright-text {
  font-family: "Roboto Regular";
  color: white;
}

/* ////////////////// */
