.modal-input {
  border: 0.1rem solid grey;
  border-radius: 0.8rem;
  width: 100%;
  padding: 1rem 0.6rem;
  @include fontRobotoRegular;
  font-size: 1.6rem;
  &:invalid {
    outline: 1px solid red;
    box-shadow: 0 0 5px rgba(255, 17, 0, 0.5);
  }
}
#input-email:valid {
  outline: rgb(102, 255, 0);
}
.margin {
  margin-top: 0.6rem;
}

#input-name:focus {
  border-color: rgb(102, 255, 0);
  box-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
}
.modal-area {
  border: 0.1rem solid grey;
  border-radius: 0.8rem;
  max-width: 440px;
  width: 100%;
  min-height: 13.5rem;
  padding: 1rem 0.6rem;
  @include fontRobotoRegular;
  font-size: 1.6rem;
  overflow-y: auto;
}
.box-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.btn-form {
  border: 1px solid black;
  width: 18rem;
  height: 5.5rem;
  border-radius: 8px;
  font-size: 1.8rem;
  @include fontRobotoMedium;
}
.btn-form:hover {
  background-color: $dark;
  color: $white;
}
.box-btn:before {
  content: "";
  background: url(../img/poppup/Left-Icon.svg);
  background-size: contain; /* Размер изображения будет подстраиваться под размер блока */
  /* Дополнительные стили для позиционирования иконки */
}
