.modal-input {
  border: 0.1rem solid grey;
  border-radius: 0.8rem;
  width: 100%;
  padding: 1rem 0.6rem;
  @include fontRobotoRegular;
  font-size: 1.6rem;
}

.margin {
  margin-top: 0.6rem;
}

#input-name:focus,
.modal-input:focus,
.modal-area:focus {
  outline: 0.1rem solid $dark;
  box-shadow: inset 0 0 5px rgba(39, 39, 39, 0.5);
}
input[type="email"]:invalid {
  outline: 0.1rem solid red;
  box-shadow: inset 0 0 5px rgba(233, 2, 2, 0.966);
}

.modal__label--user {
  position: relative;
}

.modal__label--user::after {
  content: url(../img/poppup/user-pen-solid.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 55%;
  right: 1rem;
  cursor: none;
}
.modal__label--email {
  position: relative;
}

.modal__label--email::after {
  content: url(../img/poppup/at-solid.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 55%;
  right: 1rem;
  cursor: none;
}
.modal__label--area {
  position: relative;
}

.modal__label--area::after {
  content: url(../img/poppup/comments-regular.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 22%;
  right: 1rem;
  cursor: none;
}

.modal-area {
  border: 0.1rem solid grey;
  border-radius: 0.8rem;
  max-width: 440px;
  width: 100%;
  min-height: 13.5rem;
  padding: 1rem 0.6rem;
  @include fontRobotoRegular;
  font-size: 1.6rem;
  overflow-y: auto;
}
.box-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark;
  width: 18rem;
  height: 5.5rem;
  border-radius: 8px;
  font-size: 1.8rem;
  @include fontRobotoMedium;
  text-align: center;
}
.btn-form:hover::before {
  content: "\2b";
  font-family: "Font Awesome";
  font-size: 4rem;
  font-weight: bold;
  margin-right: 0.8rem;
  color: $white;
}
.btn-form:hover {
  background-color: $dark;
  color: $white;
}
