.designers-section {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2rem;
}

.designers-section__designer-cards {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  overflow: auto;
  align-items: end;
}

.designers-section__designers-heading {
  @include fontRobotoBold;
  font-style: normal;
  font-size: 2.4rem;
  margin-left: 13.9rem;
}
.designers-section__designer-info {
  @include fontRobotoBold;
  font-size: 1.6rem;
  margin-top: 2.3rem;
}
.designers-section__designer-info_n1 {
  margin-left: 41%;
}
.origin-skills {
  @include fontRobotoRegular;
  font-style: normal;
}
