.strong-points-section {
  padding-left: 20px;
  max-width: 144rem;
  margin: 15rem auto;

  &__container_strong-points {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: auto;
    margin-top: 30px;
  }
  &__box-text_strong-section {
    text-align: center;
    min-width: 45.1rem;
  }
  &__strong-points-list {
    @include fontBitterRegular;
    font-size: 34px;
    list-style-type: none;
    margin-top: 28px;
  }
  &__section-strong-points {
    @include fontRobotoBold;
    font-size: 24px;
    margin-left: 16%;
  }
}
.bold-text {
  @include fontPlayfairDisplayMedium;
  font-size: 86px;
  line-height: 86px;
}
