// Fonts

$fonts-main: "Roboto", sans-serif; //основной шрифт
$fonts-headlines: "Playfair Display", serif; //шрифт для заголовков
$fonts-bitter: "Bitter", serif;
$fonts-inter: "Inter", sans-serif;

//Colors

$dark: #0d0d0d;

$white: #ffffff;
